In [1]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt 
import numpy as np 
import os 
import pandas as pd

In [2]:
data=pd.read_csv('data_arrhythmia.csv',delimiter=';')

In [3]:
data.shape

(452, 280)

In [4]:
data.head()

,age,sex,height,weight,qrs_duration,p-r_interval,q-t_interval,t_interval,p_interval,qrs,...,KY,KZ,LA,LB,LC,LD,LE,LF,LG,diagnosis
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0,-0.1,3.9,25.4,62.8,7

In [5]:
data.head(10)

,age,sex,height,weight,qrs_duration,p-r_interval,q-t_interval,t_interval,p_interval,qrs,...,KY,KZ,LA,LB,LC,LD,LE,LF,LG,diagnosis
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0,-0.1,3.9,25.4,62.8,7
5,13,0,169,51,100,167,321,174,91,107,...,-0.6,12.2,-2.8,0.0,0,0.9,2.2,13.5,31.1,14
6,40,1,160,52,77,129,377,133,77,77,...,0.0,6.5,0.0,0.0,0,0.4,1.0,14.3,20.5,1
7,49,1,162,54,78,0,376,157,70,67,...,0.0,8.2,-1.9,0.0,0,0.1,0.5,15.8,19.8,1
8,44,0,168,56,84,118,354,160,63,61,...,0.0,7.0,-1.3,0.0,0,0.6,2.1,12.5,30.9,1
9,50,1,167,67,89,130,383,156,73,85,...,-0.6,10.8,-1.7,0.0,0,0.8,0.9,20.1,25.1,10

In [6]:
data.drop(["J","R'_wave","S'_wave", "AB", "AC", "AD","AE", "AF", "AG", "AL", "AN", "AO", "AP", "AR", "AS", "AT", "AZ", "AB'", "BC", "BD", "BE", "BG", "BH", "BP", "BR", "BS", "BT", "BU", 
          "CA", "CD", "CE", "Cf", "CG", "CH", "CI", "CM","CN","CP","CR","CS","CT","CU","CV","DE","DF","DG","DH","DI","DJ","DR","DS","DT","DU","DV","DY","EG",
          "EH", "EL", "ER", "ET", "EU", "EV", "EY", "EZ", "FA", "FE", "FF", "FH", "FI", "FJ", "FK", "FL", "FM", "FR", "FS", "FU", "FV", "FY", "FZ", "GA",
          "GB", "GG", "GH", "HD", "HE", "HO", "IA", "IB", "IK", "IL", "IY", "JI", "JS", "JT", "KF", "KO", "KP", "LB", "LC", "T", "P", "QRST", "heart_rate"], axis=1, inplace=True)

Missing data in the dataset or features containing all 0 were removed from the dataset.

In [7]:
data.head()

,age,sex,height,weight,qrs_duration,p-r_interval,q-t_interval,t_interval,p_interval,qrs,...,KU,KV,KY,KZ,LA,LD,LE,LF,LG,diagnosis
0,75,0,190,80,91,193,371,174,121,-16,...,62.9,-0.3,0.0,9.0,-0.9,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,43.4,-0.5,0.0,8.5,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,48.2,0.9,0.0,9.5,-2.4,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,68.0,0.1,0.0,12.2,-2.2,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,48.9,-0.4,0.0,13.1,-3.6,-0.1,3.9,25.4,62.8,7

In [8]:
y = data.diagnosis.values
x = data.drop(["diagnosis"],axis=1)

Diagnosis values were loaded on y axis. The x axis was loaded with all data except diagnosis. The diagnosis feature is a feature of classes 1-16.

The train_test_split function randomly divides the dataset into train and test. In other words, 60% train section is not 60% from the beginning of dataset. It is the amount corresponding to 60% of all data. The expression random_state = 42 allows the same 60% and 20% sections to be used each time this function is executed. In this way, the work produced by different people at different times produces the same output. 42 is the meaning of life in the book A Hitchhiker's Guide to the Galaxy. Instead of 42, 20, 19 can also be used.

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2,random_state=25)
x_train, x_validate, y_train, y_validate = train_test_split(x_train,y_train,test_size=0.25, random_state=25)

In [10]:
x_train.head()

,age,sex,height,weight,qrs_duration,p-r_interval,q-t_interval,t_interval,p_interval,qrs,...,KT,KU,KV,KY,KZ,LA,LD,LE,LF,LG
191,60,1,160,61,81,191,354,127,99,76,...,21.1,30.2,0.1,0.0,7.7,0.0,0.7,0.7,21.5,27.9
230,72,0,171,74,77,172,330,140,104,33,...,17.9,21.1,0.0,0.0,6.8,0.0,0.7,0.8,25.8,31.4
91,64,1,155,88,82,194,342,138,126,-4,...,4.7,14.3,-0.1,0.0,4.9,-0.9,0.3,0.4,9.6,12.8
273,63,1,160,63,79,141,423,138,79,57,...,8.5,12.3,-0.5,0.0,5.8,-1.6,0.3,0.5,9.9,13.7
412,41,0,170,67,96,191,368,202,108,62,...,43.1,64.6,-1.5,-3.5,21.1,0.0,-0.1,-2.2,49.9,33.7

In [11]:
x_test.head()

,age,sex,height,weight,qrs_duration,p-r_interval,q-t_interval,t_interval,p_interval,qrs,...,KT,KU,KV,KY,KZ,LA,LD,LE,LF,LG
405,21,1,156,44,78,151,363,154,87,84,...,18.8,41.7,0.2,0.0,7.5,0.0,-0.1,2.5,28.5,49.0
125,25,1,162,78,77,141,378,206,84,56,...,22.2,51.3,0.1,-0.4,9.7,-0.7,0.5,2.6,22.2,49.2
135,40,0,172,60,87,146,352,160,89,81,...,31.0,48.1,-0.1,0.0,11.3,0.0,0.8,1.3,38.4,47.7
421,63,1,167,68,94,175,439,139,100,25,...,7.5,8.6,-0.4,0.0,7.6,-2.2,0.8,0.4,14.9,17.1
250,15,1,170,53,105,149,362,143,82,-38,...,-3.1,13.7,0.1,-0.6,8.7,-3.9,0.5,2.1,6.1,21.6

In [12]:
print("x_train: ",x_train.shape)
print("y_train: ",y_train.shape)
print("x_test: ",x_test.shape)
print("y_test: ",y_test.shape)
print("x_validate: ",x_test.shape)
print("y_validate: ",y_test.shape)

x_train:  (270, 176)
y_train:  (270,)
x_test:  (91, 176)
y_test:  (91,)
x_validate:  (91, 176)
y_validate:  (91,)

By calling the Naive Bayes Algorithm from the SkitLearn library, the algorithm is trained with x_train and y_train values.

In [13]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [18]:
x_test=data.head(2)
x_test=x_test.drop(["diagnosis"],axis=1)

In [19]:
x_test

,age,sex,height,weight,qrs_duration,p-r_interval,q-t_interval,t_interval,p_interval,qrs,...,KT,KU,KV,KY,KZ,LA,LD,LE,LF,LG
0,75,0,190,80,91,193,371,174,121,-16,...,25.5,62.9,-0.3,0.0,9.0,-0.9,0.9,2.9,23.3,49.4
1,56,1,165,64,81,174,401,149,39,25,...,21.6,43.4,-0.5,0.0,8.5,0.0,0.2,2.1,20.4,38.8

In [20]:
y_pred = nb.predict(x_test)
print("Estimated Value: ",y_pred)

Estimated Value:  [8 6]

In [17]:
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
print("Confussion Matrix: ",confusion_matrix(y_test, y_pred))
print("Accuracy rate: ",metrics.accuracy_score(y_test,y_pred))
print("f1 Score: ",f1_score(y_test, y_pred, average='macro'))
print("Accuracy Value: ",precision_score(y_test, y_pred, average='macro'))

ValueError: Found input variables with inconsistent numbers of samples: [91, 1]

In [ ]:
data.diagnosis.values